{% extends 'base.html' %}
{% load static %}

{% block content %}
<body id="top">

    <header>
        <div class="container-fluid">

            <div class="top-bar">
                <a class="menu-toggle" href="#">
                    <span>Menu</span>
                </a>

                <nav id="main-nav-wrap">
                    <ul class="main-navigation">
                        <li class="current">
                            <a class="smoothscroll" href="#intro" title="">Home</a>
                        </li>
                        <li>
                            <a class="smoothscroll" href="#about" title="">About</a>
                        </li>
                        <li>
                            <a class="smoothscroll" href="#resume" title="">Resume</a>
                        </li>
                        <li>
                            <a class="smoothscroll" href="#projects" title="">Projects And Blogs</a>
                        </li>
                        <li>
                            <a class="smoothscroll" href="#hobbies" title="">Hobbies</a>
                        </li>
                        <li>
                            <a class="smoothscroll" href="#contact" title="">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>

    </header>


    <!-- intro section
   ================================================== -->
    <section id="intro">

        <div class="intro-overlay"></div>

        <div class="intro-content">
            <div class="row">

                <div class="col-twelve">

                    <h5>Hello, Everyone.</h5>
                    <h1>This is<span class="logo-font"> KIMITA </span> </h1>
                    <h6 class="wide-font"> KIMITA WANJOHI</h6>



                    <p class="intro-position">
                        <span>Software Engineer</span>
                    </p>

                    <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

                </div>

            </div>
        </div>

        <ul class="intro-social">
            <li>
                <a href="https://github.com/kimitaWanjohi" target="blank">
                    <i class="fa fa-github"></i>
                </a>
            </li>

            <li>
                <a href="https://linkedin.com/in/kimitawanjohi/" target="blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>

            {% comment %} <li>
                <a href="https://instagram.com/r.a.h.u.l15.82/" target="blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li> {% endcomment %}
        </ul>


    </section>



    <!-- about section
   ================================================== -->
    <section id="about">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>About Me</h5>
                <h1>Let Me Introduce Myself</h1>

                <div class="intro-info">
                    <p class="lead">
                        I am a Full-stack software engineer with a keen interest in designing elegant solutions to technical problems. I am skilled in problem-solving and can leverage full-stack knowledge and experience to build and scale user-centered software designs.
I am a highly motivated self-starter and team player. Also, I'm a quick learner and have a keen eye for detail
                    </p>
                </div>

            </div>
        </div>


        <div class="row about-content">

            <div class="col-six" style="display:flex; justify-content: center; padding-top: 4rem;">

                <img src="{% static 'images/me.png' %}" alt="Profile Picture">

            </div>

            <div class="col-six tab-full">

                <h3>Profile</h3>
                <p style="text-align: center; font-weight: bolder;"> Here is quick bio. You can know more about me through my social profiles.</p>
                <ul class="info-list">

                    <li>
                        <strong>Email:</strong>
                        <span>kimitawanjohi7923@gmail.com</span>
                    </li>
                    <li>
                        <strong>Mobile:</strong>
                        <span>+254 792177975</span>
                    </li>

                </ul>




            </div>

        </div>
        <br>

        <div class="row button-section">
            <div class="col-twelve">
                <a href="#contact" title="Contact Me" class="button stroke smoothscroll">Contact Me</a>
            </div>
        </div>

    </section>



    <!-- resume Section
   ================================================== -->
    <section id="resume">

        <div class="overlay"></div>


        <div class="row resume-timeline">


            <div class="col-twelve resume-header">

                <h2>EDUCATION</h2>

            </div>

            <div class="col-twelve">

                <div class="timeline-wrap">


                    <div class="timeline-block" style="text-align: center;">

                        <div class="timeline-ico">
                            <i class="fa fa-user-graduate"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Non-Degree Program</h3>
                            <p style="text-align: center;">June 2022 - September 2022</p>
                        </div>

                        <div class="timeline-content">
                            <h4>GearBox Academy</h4>
                            <h5>Software Engineering and IoT</h5>
                        </div>

                    </div>

                </div>


            </div>


        </div>




        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>WORK EXPERIENCE</h2>

            </div>

                <div class="col-twelve">

                <div class="timeline-wrap">

                    <div class="timeline-block" style="text-align: center">

                        <div class="timeline-ico">
                            <i class="fa fa-chalkboard-teacher"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Internship</h3>
                            <p style="text-align: center;">June 2022 - September 2022</p>
                        </div>

                        <div class="timeline-content">
                            <h2  style="color: white;">Gearbox, Nairobi, Kenya</h2>
                            <h3 style="color: white;">Software Engineer Intern(FullStack)</h3>
                            <h5>At Gearbox, I took part in two projects; Lights Automation and Door Automation.</h5>
                            <h5>Using ReactJs, I built the Lights Automation UI responsible for toggling the lights.</h5>
                            <h5>Worked alongside the frontend team to build the documentation website for both projects using ReactJs and Flask.</h5>
                            <h5>Worked alongside the Machine learning team to dockerize and deploy a facial recognition model to the DigitalOcean Cloud platform.</h5>
                            <h5>Guided other junior interns in building their portfolios.</h5>

                        </div>

                    </div>



                </div>


            </div>


            <div class="col-twelve">

                <div class="timeline-wrap">

                    <div class="timeline-block" style="text-align: center">

                        <div class="timeline-ico">
                            <i class="fa fa-chalkboard-teacher"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Software Engineer</h3>
                            <p style="text-align: center;">November 2021 - April 2022</p>
                        </div>

                        <div class="timeline-content">
                            <h2  style="color: white;">CoverHunt,  Nairobi, Kenya</h2>
                            <h3 style="color: white;">Software Engineer</h3>
                            <h5>Wrote scripts for post-processing insurance policy data</h5>
                            <h5>Using Django, I built a GraphQL API that provides insurance comparisons.</h5>
                            <h5>Worked on the Mpesa and Stripe integration to allow the processing of mobile money payments.</h5>

                        </div>

                    </div>



                </div>


            </div>

        </div>


        </div>



        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>MY GITHUB CONTRIBUTIONS</h2>

            </div>

            <div class="col-twelve resume-header">

                <img src="https://ghchart.rshah.org/kimitawanjohi" width="2000" />

            </div>

        </div>



        <br><br>


        <div class="row button-section">
            <div class="col-twelve"></div>
            <a href="{% static 'assets/kimita_resume.pdf' %}" target="_blank" title="Download Resume" class="button button-primary">Download Resume</a>
        </div>
        </div>





    </section>


    <!-- Portfolio Section
   ================================================== -->
    <section id="projects">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>PROJECTS</h5>
                <h1>Check Out Some of My Works</h1>

            </div>
        </div>


        <div class="row portfolio-content">

            <div class="col-twelve">


                <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

                    <div class="bgrid folio-item">
                        <div class="item-wrap">
                            <img src="{% static '/images/projects/nft_blockchain_500x300.jpg' %}" alt="NFT Based E-Commerce Website">
                            <a href="#modal-01" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">NFT Based E-Commerce Website</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                   

                    <!-- modal popups - begin -->

                    <div id="modal-01" class="popup-modal slider mfp-hide">

                        <div class="description-box">
                            <h4>NFT Based E-Commerce Website</h4>
                            <p>Blockchain based warranty using NFT</p>

                            <div class="categories">Express JS, Node JS, React JS, MongoDB, Solidity</div>

                        </div>

                        <div class="link-box">
                            <a href="https://github.com/soumyajit4419/NFT-Based-E-Commerce-Website" target="blank">View Project</a>

                            <a href="#" class="popup-modal-dismiss">Close</a>
                        </div>

                    </div>
                    <!-- modal popups - end -->

                </div>


            </div>

        </div>

        <br><br>
        <div class="row section-intro">
            <div class="col-twelve">

                <h5>TECH BLOGS</h5>
                <h1>Check Out Some of My Blogs</h1>



            </div>
        </div>

        <div class="row portfolio-content">

            <div class="col-twelve">

                <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

                    <div class="bgrid folio-item">
                        <div class="item-wrap">
                            <img src="./images//blogs/stegblog_500x300.jpeg" alt="Amigos">
                            <a href="#blog-01" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">Steganography Part-1</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div id="blog-01" class="popup-modal slider mfp-hide">

                        <div class="description-box">
                            <h4>Steganography Blog Part 1</h4>
                            <p>This blog is about hiding text inside an Image.</p>

                            <div class="categories"></div>
                        </div>

                        <div class="link-box">
                            <a href="https://rahul1582.medium.com/steganography-6c9af950cbb3" target="blank">View Blog</a>
                            <a href="#" class="popup-modal-dismiss">Close</a>
                        </div>

                    </div>  

                    </div>
                </div>




    </section>

    <!-- contact
   ================================================== -->
    <section id="contact">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>CONTACT ME</h5>
                <h1>I'd Love To Hear From You.</h1>

                <p class="lead">Wanna colloborate or give some feedback? Just drop in a hello.</p>

            </div>
        </div>



        <div class="row contact-info">


            <div class="col-six tab-full collapse">

                <div class="icon">
                    <i class="icon-mail"></i>
                </div>

                <h5>Email Me @</h5>

                <a href="mailto:kimitawanjohi7923@gmail.com?Subject=Hello%20there" target="_top" class="light-fix">
					kimitawanjohi7923@gmail.com
				</a>

            </div>

            <div class="col-six tab-full">

                <div class="icon">
                    <i class="icon-phone"></i>
                </div>

                <h5>Call Me @</h5>

                <a href="tel:+917667232335" class="light-fix">Mobile: (+254) 792177975</a>

            </div>

        </div>

    </section>



    <!-- footer
   ================================================== -->

    <footer>
        <div class="row">

            <div class="col-six tab-full pull-right social">

                <ul class="footer-social">
                    <li>
                        <a href="https://github.com/kimitawanjohi" target="blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://linkedin.com/in/kimitawanjohi/" target="blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>

                </ul>

            </div>

            <div class="col-six tab-full">
                <div class="copyright">
                    <span><i class="fa fa-copyright"></i> KW <i id='year'></i></span>
                    <span><i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by 
						<a href="http://www.github.com/kimitaWanjohi" target="blank">Kimita Wanjohi</a>
						
					</span>

                </div>
            </div>

            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <i class="fa fa-long-arrow-up"></i>
                </a>
            </div>

        </div>

    </footer>

    <div id="preloader">
        <div id="loader"></div>
    </div>

</body>
{% endblock %}